@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

body {
    margin: 0 auto;
}

.caption {
    display: inline;
}

.artistTable p {
    font-family: 'Nunito';
}
